@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¿Que es Entity Framework? </h1>
    <p>
       Entity Framework (EF) es un marco de desarrollo de software de Microsoft que se utiliza para mapear y acceder a datos desde
       una base de datos relacional en una aplicación. Proporciona un conjunto de herramientas y bibliotecas para trabajar con datos 
       y simplifica el proceso de acceso, manipulación y persistencia de datos en una base de datos.
       EF se basa en el patrón de diseño ORM (mapeo objeto-relacional), lo que significa que permite representar entidades y relaciones
       del mundo real como objetos en tu código. Con EF, puedes modelar tu base de datos utilizando clases y propiedades en tu lenguaje 
       de programación preferido, y EF se encargará de mapear automáticamente los objetos a las tablas y las propiedades a las columnas
       en la base de datos.
    </p>
</div>
