@{
    ViewData["Title"] = "DATOS";
}

<h1>@ViewData["Title"]</h1>
<p> Docente: Giovanny Humberto Neri <br> 
    Nombre completo: Maria Isabel Olguin Zenil <br>
    Fecha de nacimiento: 17 de febrero del 2004 <br> 
    Dirección: Progreso de Ob. Hgo. <br>
    Número de teléfono: 7721164818 <br>
    Dirección de correo electrónico: isabelolguin07@gmail.com <br>
    Carrera: TIC's <br> 
    Semestre: 4to <br>
</p>
